/* frontend/src/components/AddUserForm.css */
/* Стили для компонента формы добавления пользователей. */

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
