/* frontend/src/components/UserTable.css */
/* Стили для компонента таблицы пользователей. */

div > h2 {
  color: #282c34;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden; /* Ensures rounded corners apply to children */
}

th,
td {
  border: 1px solid #e0e0e0;
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  font-size: 0.9em;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

td button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

td button:hover {
  background-color: #21a1f1;
  color: white;
}

td button:last-child {
  margin-right: 0;
}
